/* تنسيق الكارتين */
.card-group {
  margin: 0 auto;
  width: 95%;
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
  /* المسافة بين الكارتين */
}

.card .card-img-container {

  width: 100%;
  height: 90%;
  border-radius: 15px;

}


.card {
  width: 400px;
  /* عرض الكارت */
  margin-bottom: 50%;
  /* المسافة بين الكارت والأسفل */

  border-radius: 15px;
  /* زاوية الكارت */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #ffd3b6a4;

}

.card:hover {
  transform: scale(0.95);
}

.card img {

  width: 100%;

  height: 300px;

  object-fit: cover;
  /* outline: hidden; */
}

.card-body {
  padding: 30px;
  text-align: center;
  text-decoration: none;

}

.card-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  text-decoration: none;

}

@media (max-width: 768px) {
  .card {

    width: 100%;
    /* حجم الكروت في أجهزة الجوال */
  }

  .card-group {
    flex-direction: column;
    width: 100%;
  }
}