.footer{
  color: #1f1d1bc0;
  background-color: #ffd3b6;
}
.footer-icon i{
  margin: 10px;
  text-decoration: none;
  color: black;
}
.footer h6{
  padding: 20px;
  font-weight: bold;
}
a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}


@media (max-width: 768px) {
  .footer{
    display: none;
    
  }
}