li{
    text-decoration: none;
    list-style: none;

}
.navbar {
    display: flex;
    justify-content: space-between;
   align-items: center;
   height: 10vh;
   box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
}
.nav-links{
    height: 10vh;
    line-height: 10vh;
    display: flex;
    justify-content: flex-end;
    width: 75%;
}
.container{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links li {
    color: black;
    font-size: 20ppx;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: capitalize;
}