

.navbar {
    background-color:  cd#ffd3b6b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15rem;
  }
  .logo{
    width: 30vw;
  }
  .navbar-toggler{
    display: none;
  }
  
  .navbar .logo img {
    width: 50px; /* عرض الشعار */
    height: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    font-weight: 1000;
    font-size: large;
    gap: 5rem; /* المسافة بين الأزرار */
  }
  
  .nav-links a {
    color: #430303; /* لون الروابط */
    text-decoration: none;
    
  }
  
  /* تنسيق الزر النشط (الصفحة الحالية) */
  .nav-links a.active {
    font-weight: bold;
    /* يمكنك تخصيص المزيد من الخصائص حسب رغبتك */
  }
  .menu-button{
    display:flex;
  }
  /* قم بتحويل النافبار إلى قائمة عند تصغير الشاشة */
@media (max-width: 768px) {
    .navbar {
      flex-direction: row;
      align-items: center;
      padding: 0rem;

    }
  
    .nav-links {
      display: none;
      position: relative;

     
      

    }
    .navbar-toggler{
      display: flex;
      
    }
  
    .menu-button {
      display:flex; /* اعرض زر القائمة */
    }
  
    .menu.active {
      display: flex; /* اعرض محتوى النافبار */
      position: absolute;
      flex-direction: column;
      top: 5rem;
      background-color: rgba(244, 170, 118, 0.582);
      z-index: 990;
      width: 10rem;
      height: 5rem;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      
      
    }
  }
  
  
  