:root {
  font-size: 16px;
}

.homepage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  border-radius: 10%;

}

.homepage .content {
  position: relative;
  width: 90vw;
  height: 70vh;
  border-radius: 10%;

}

.homepage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;

}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #99776876;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  color: white;
  text-align: center;
  border-radius: 8%;

}

.span {
  color: rgb(245, 4, 4);
  font-weight: 1000;
  font-size: 50px;
  box-shadow: rgb(244, 240, 240);
}

.overlay h1 {
  .overlay h1 {
    font-size: 2rem;
  }

}

@media (max-width: 768px) {
  .homepage .content {
    :root {
      font-size: 14px;
      width: 90%;
      height: 60vh;
    }
  }

  .overlay {
    width: 100%;
  }
}