.containerform{
	display: flex;
	width: 40%;
	min-height: 100vh;

}
.sliderinfo {
	margin: 0;
	width: 50%;
	position: absolute;
	right: 7rem;
	top: 17rem;
}

.carousel__wrapper {
	border-radius: 5px;
	box-shadow: 0 1rem 2rem rgba(rgb(249, 141, 73), .2);
	margin:0rem auto;
	width: 700px;
}

.carousel__controls {
	display: flex;
	width: 70%;
	background-color:antiquewhite;
}

.carousel__container {
	display: flex;
	height: 500px;
	position: relative;
	overflow: hidden;
	object-fit: cover;
}

.carousel__image {
	position: absolute;
	object-fit: cover;
	width: 70%;
	left: 0;
	opacity: 0;
	top: 0;
	transform: scale(1.1);
	transition: all .15s ease-out;

	&.active {
		opacity: 1;
		transform: scale(1);
	}
}

.carousel__button {
	background: #ede8e845;
	border: 0;
	color: rgb(49, 22, 5);
	cursor: pointer;
	font-size: 1rem;
	flex-grow: 1;
	outline: none;
	padding: 1rem;
	transition: all .1s ease-out;

	
}
.aamal{
	width: 70%;
	padding: 5px;
	text-align: center;
}
@media (max-width: 768px) {

	.sliderinfo{
		width: 85%;
		left:  30px;
		margin: 0 auto;
		top: 16rem;
		
	}
	.containerform{
		position: absolute;
		top: 700px;
		width: 100%;
	}
	.carousel__image {
		
		width: 60%;
	
	}
	.carousel__controls{
		width: 65%;
	}

}
